// 公共样式库
.absolute-full {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.first-line {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: normal;
}

//
.common-page-footer-wrapper {
  text-align: center;
  margin: 10px 0;
  color: #888;
  height: 40px;
  line-height: 40px;
}

.common-title {
  font-weight: 400;
  position: relative;
  padding-left: 9px;
  margin-bottom: 14px;
  font-size: 17px;
  height: 20px;
  line-height: 20px;
  &:after {
    content: " ";
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -9px;
    width: 2px;
    height: 16px;
    background-color: #d33a31;
  }
}

// 搜索按钮
@font-face {
  font-family: 'iconfont';
  /* project id 409336 */
  src: url('//at.alicdn.com/t/font_409336_n2srm98qed5z5mi.eot');
  src: url('//at.alicdn.com/t/font_409336_n2srm98qed5z5mi.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_409336_n2srm98qed5z5mi.woff') format('woff'),
  url('//at.alicdn.com/t/font_409336_n2srm98qed5z5mi.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_409336_n2srm98qed5z5mi.svg#iconfont') format('svg');
}

// 清空
@font-face {
  font-family: 'iconfont';
  /* project id 409336 */
  src: url('//at.alicdn.com/t/font_409336_o7ub529htiuj714i.eot');
  src: url('//at.alicdn.com/t/font_409336_o7ub529htiuj714i.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_409336_o7ub529htiuj714i.woff') format('woff'),
  url('//at.alicdn.com/t/font_409336_o7ub529htiuj714i.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_409336_o7ub529htiuj714i.svg#iconfont') format('svg');
}

// back 
@font-face {
  font-family: 'iconfont';
  /* project id 409336 */
  src: url('//at.alicdn.com/t/font_409336_cesbnqmdbod5nrk9.eot');
  src: url('//at.alicdn.com/t/font_409336_cesbnqmdbod5nrk9.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_409336_cesbnqmdbod5nrk9.woff') format('woff'),
  url('//at.alicdn.com/t/font_409336_cesbnqmdbod5nrk9.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_409336_cesbnqmdbod5nrk9.svg#iconfont') format('svg');
}

// CLOCK
@font-face {
  font-family: 'iconfont';
  /* project id 409336 */
  src: url('//at.alicdn.com/t/font_409336_5igt78vt8ofj38fr.eot');
  src: url('//at.alicdn.com/t/font_409336_5igt78vt8ofj38fr.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_409336_5igt78vt8ofj38fr.woff') format('woff'),
  url('//at.alicdn.com/t/font_409336_5igt78vt8ofj38fr.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_409336_5igt78vt8ofj38fr.svg#iconfont') format('svg');
}

@font-face {
  font-family: 'iconfont';
  /* project id 409336 */
  src: url('//at.alicdn.com/t/font_409336_um3cd15tdx9lik9.eot');
  src: url('//at.alicdn.com/t/font_409336_um3cd15tdx9lik9.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_409336_um3cd15tdx9lik9.woff') format('woff'),
  url('//at.alicdn.com/t/font_409336_um3cd15tdx9lik9.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_409336_um3cd15tdx9lik9.svg#iconfont') format('svg');
}

// SHARE
@font-face {
  font-family: 'iconfont';
  /* project id 409336 */
  src: url('//at.alicdn.com/t/font_409336_j151fov6kwwpcik9.eot');
  src: url('//at.alicdn.com/t/font_409336_j151fov6kwwpcik9.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_409336_j151fov6kwwpcik9.woff') format('woff'),
  url('//at.alicdn.com/t/font_409336_j151fov6kwwpcik9.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_409336_j151fov6kwwpcik9.svg#iconfont') format('svg');
}

// 耳麦
@font-face {
  font-family: 'iconfont';
  /* project id 409336 */
  src: url('//at.alicdn.com/t/font_409336_9x4fy3zbh3cmobt9.eot');
  src: url('//at.alicdn.com/t/font_409336_9x4fy3zbh3cmobt9.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_409336_9x4fy3zbh3cmobt9.woff') format('woff'),
  url('//at.alicdn.com/t/font_409336_9x4fy3zbh3cmobt9.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_409336_9x4fy3zbh3cmobt9.svg#iconfont') format('svg');
}

// operator
@font-face {
  font-family: 'iconfont';
  /* project id 409336 */
  src: url('//at.alicdn.com/t/font_409336_zuu4l8o41f8khuxr.eot');
  src: url('//at.alicdn.com/t/font_409336_zuu4l8o41f8khuxr.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_409336_zuu4l8o41f8khuxr.woff') format('woff'),
  url('//at.alicdn.com/t/font_409336_zuu4l8o41f8khuxr.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_409336_zuu4l8o41f8khuxr.svg#iconfont') format('svg');
}

// mv
@font-face {
  font-family: 'iconfont';
  /* project id 409336 */
  src: url('//at.alicdn.com/t/font_409336_vbdlvc22ihpvi.eot');
  src: url('//at.alicdn.com/t/font_409336_vbdlvc22ihpvi.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_409336_vbdlvc22ihpvi.woff') format('woff'),
  url('//at.alicdn.com/t/font_409336_vbdlvc22ihpvi.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_409336_vbdlvc22ihpvi.svg#iconfont') format('svg');
}

// right arrow
@font-face {
  font-family: 'iconfont';
  /* project id 409336 */
  src: url('//at.alicdn.com/t/font_409336_caxr8h4yq8gaxlxr.eot');
  src: url('//at.alicdn.com/t/font_409336_caxr8h4yq8gaxlxr.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_409336_caxr8h4yq8gaxlxr.woff') format('woff'),
  url('//at.alicdn.com/t/font_409336_caxr8h4yq8gaxlxr.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_409336_caxr8h4yq8gaxlxr.svg#iconfont') format('svg');
}

// add 
@font-face {
  font-family: 'iconfont';
  /* project id 409336 */
  src: url('//at.alicdn.com/t/font_409336_07x8dncdm05uq5mi.eot');
  src: url('//at.alicdn.com/t/font_409336_07x8dncdm05uq5mi.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_409336_07x8dncdm05uq5mi.woff') format('woff'),
  url('//at.alicdn.com/t/font_409336_07x8dncdm05uq5mi.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_409336_07x8dncdm05uq5mi.svg#iconfont') format('svg');
}

// comment 
@font-face {
  font-family: 'iconfont';
  /* project id 409336 */
  src: url('//at.alicdn.com/t/font_409336_9qnfbu2vta5ah5mi.eot');
  src: url('//at.alicdn.com/t/font_409336_9qnfbu2vta5ah5mi.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_409336_9qnfbu2vta5ah5mi.woff') format('woff'),
  url('//at.alicdn.com/t/font_409336_9qnfbu2vta5ah5mi.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_409336_9qnfbu2vta5ah5mi.svg#iconfont') format('svg');
}

//download
@font-face {
  font-family: 'iconfont';
  /* project id 409336 */
  src: url('//at.alicdn.com/t/font_409336_p7ohmt4th3680k9.eot');
  src: url('//at.alicdn.com/t/font_409336_p7ohmt4th3680k9.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_409336_p7ohmt4th3680k9.woff') format('woff'),
  url('//at.alicdn.com/t/font_409336_p7ohmt4th3680k9.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_409336_p7ohmt4th3680k9.svg#iconfont') format('svg');
}

// camera 
@font-face {
  font-family: 'iconfont';
  /* project id 409336 */
  src: url('//at.alicdn.com/t/font_409336_4udhu9hxumghw7b9.eot');
  src: url('//at.alicdn.com/t/font_409336_4udhu9hxumghw7b9.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_409336_4udhu9hxumghw7b9.woff') format('woff'),
  url('//at.alicdn.com/t/font_409336_4udhu9hxumghw7b9.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_409336_4udhu9hxumghw7b9.svg#iconfont') format('svg');
}

// high quality
@font-face {
  font-family: 'iconfont';
  /* project id 409336 */
  src: url('//at.alicdn.com/t/font_409336_ai3cwwckwat9be29.eot');
  src: url('//at.alicdn.com/t/font_409336_ai3cwwckwat9be29.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_409336_ai3cwwckwat9be29.woff') format('woff'),
  url('//at.alicdn.com/t/font_409336_ai3cwwckwat9be29.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_409336_ai3cwwckwat9be29.svg#iconfont') format('svg');
}

// language
@font-face {
  font-family: 'iconfont';
  /* project id 409336 */
  src: url('//at.alicdn.com/t/font_409336_l8j7o8rhqrjatt9.eot');
  src: url('//at.alicdn.com/t/font_409336_l8j7o8rhqrjatt9.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_409336_l8j7o8rhqrjatt9.woff') format('woff'),
  url('//at.alicdn.com/t/font_409336_l8j7o8rhqrjatt9.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_409336_l8j7o8rhqrjatt9.svg#iconfont') format('svg');
}

// hook
@font-face {
  font-family: 'iconfont';
  /* project id 409336 */
  src: url('//at.alicdn.com/t/font_409336_tk3e2nju9po2bj4i.eot');
  src: url('//at.alicdn.com/t/font_409336_tk3e2nju9po2bj4i.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_409336_tk3e2nju9po2bj4i.woff') format('woff'),
  url('//at.alicdn.com/t/font_409336_tk3e2nju9po2bj4i.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_409336_tk3e2nju9po2bj4i.svg#iconfont') format('svg');
}
