// 公共样式库
.absolute-full {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.first-line {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: normal;
}

// 搜索按钮
@font-face {
  font-family: 'iconfont';
  /* project id 409336 */
  src: url('//at.alicdn.com/t/font_409336_n2srm98qed5z5mi.eot');
  src: url('//at.alicdn.com/t/font_409336_n2srm98qed5z5mi.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_409336_n2srm98qed5z5mi.woff') format('woff'),
  url('//at.alicdn.com/t/font_409336_n2srm98qed5z5mi.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_409336_n2srm98qed5z5mi.svg#iconfont') format('svg');
}

// 清空
@font-face {
  font-family: 'iconfont';
  /* project id 409336 */
  src: url('//at.alicdn.com/t/font_409336_o7ub529htiuj714i.eot');
  src: url('//at.alicdn.com/t/font_409336_o7ub529htiuj714i.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_409336_o7ub529htiuj714i.woff') format('woff'),
  url('//at.alicdn.com/t/font_409336_o7ub529htiuj714i.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_409336_o7ub529htiuj714i.svg#iconfont') format('svg');
}

// back 
@font-face {
  font-family: 'iconfont';
  /* project id 409336 */
  src: url('//at.alicdn.com/t/font_409336_cesbnqmdbod5nrk9.eot');
  src: url('//at.alicdn.com/t/font_409336_cesbnqmdbod5nrk9.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_409336_cesbnqmdbod5nrk9.woff') format('woff'),
  url('//at.alicdn.com/t/font_409336_cesbnqmdbod5nrk9.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_409336_cesbnqmdbod5nrk9.svg#iconfont') format('svg');
}

// CLOCK
@font-face {
  font-family: 'iconfont';
  /* project id 409336 */
  src: url('//at.alicdn.com/t/font_409336_5igt78vt8ofj38fr.eot');
  src: url('//at.alicdn.com/t/font_409336_5igt78vt8ofj38fr.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_409336_5igt78vt8ofj38fr.woff') format('woff'),
  url('//at.alicdn.com/t/font_409336_5igt78vt8ofj38fr.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_409336_5igt78vt8ofj38fr.svg#iconfont') format('svg');
}

@font-face {
  font-family: 'iconfont';
  /* project id 409336 */
  src: url('//at.alicdn.com/t/font_409336_um3cd15tdx9lik9.eot');
  src: url('//at.alicdn.com/t/font_409336_um3cd15tdx9lik9.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_409336_um3cd15tdx9lik9.woff') format('woff'),
  url('//at.alicdn.com/t/font_409336_um3cd15tdx9lik9.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_409336_um3cd15tdx9lik9.svg#iconfont') format('svg');
}

// SHARE
@font-face {
  font-family: 'iconfont';
  /* project id 409336 */
  src: url('//at.alicdn.com/t/font_409336_j151fov6kwwpcik9.eot');
  src: url('//at.alicdn.com/t/font_409336_j151fov6kwwpcik9.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_409336_j151fov6kwwpcik9.woff') format('woff'),
  url('//at.alicdn.com/t/font_409336_j151fov6kwwpcik9.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_409336_j151fov6kwwpcik9.svg#iconfont') format('svg');
}

// 耳麦
@font-face {
  font-family: 'iconfont';
  /* project id 409336 */
  src: url('//at.alicdn.com/t/font_409336_9x4fy3zbh3cmobt9.eot');
  src: url('//at.alicdn.com/t/font_409336_9x4fy3zbh3cmobt9.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_409336_9x4fy3zbh3cmobt9.woff') format('woff'),
  url('//at.alicdn.com/t/font_409336_9x4fy3zbh3cmobt9.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_409336_9x4fy3zbh3cmobt9.svg#iconfont') format('svg');
}

// operator
@font-face {
  font-family: 'iconfont';
  /* project id 409336 */
  src: url('//at.alicdn.com/t/font_409336_zuu4l8o41f8khuxr.eot');
  src: url('//at.alicdn.com/t/font_409336_zuu4l8o41f8khuxr.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_409336_zuu4l8o41f8khuxr.woff') format('woff'),
  url('//at.alicdn.com/t/font_409336_zuu4l8o41f8khuxr.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_409336_zuu4l8o41f8khuxr.svg#iconfont') format('svg');
}

// mv
@font-face {
  font-family: 'iconfont';
  /* project id 409336 */
  src: url('//at.alicdn.com/t/font_409336_vbdlvc22ihpvi.eot');
  src: url('//at.alicdn.com/t/font_409336_vbdlvc22ihpvi.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_409336_vbdlvc22ihpvi.woff') format('woff'),
  url('//at.alicdn.com/t/font_409336_vbdlvc22ihpvi.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_409336_vbdlvc22ihpvi.svg#iconfont') format('svg');
}

// right arrow
@font-face {
  font-family: 'iconfont';
  /* project id 409336 */
  src: url('//at.alicdn.com/t/font_409336_caxr8h4yq8gaxlxr.eot');
  src: url('//at.alicdn.com/t/font_409336_caxr8h4yq8gaxlxr.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_409336_caxr8h4yq8gaxlxr.woff') format('woff'),
  url('//at.alicdn.com/t/font_409336_caxr8h4yq8gaxlxr.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_409336_caxr8h4yq8gaxlxr.svg#iconfont') format('svg');
}
